/* globals */
.global-pad {
  padding: 3px;
}
.big-pad-sides {
  padding: 0 10px;
}
.global-margin {
  margin: 5px;
}
.font-large {
  font-size: 30px;
}
.custom-font {
  font-family: 'Open Sans', sans-serif;
}
a:link {
    color: #AAA;
}

/* visited link */
a:visited {
    color: #AAA;
}

/* mouse over link */
a:hover {
    color: #AAA;
}

/* selected link */
a:active {
    color: rgba(100, 50, 50, 1);
    text-decoration: none;
}

/* --------------- */
.container-fluid {
  background-color: #000;
  color: #5D5D5D;
}
.title-text {
  color: #AAA;
  padding: 10px 4px;
}
.landing-container {
  background-color: #000;
  border: 1px solid #555;
  padding: 20px; 
}
.banner-color {
  background-color: rgba(50, 26, 26, 1);
  border: 2px black;
}
.custom-btn {
  padding: 16px 0;
  background-color: rgba(50, 26, 26, 1);
  color: #AAA;
  font-size: 15px;
  border-radius: 0;
  border-bottom: 1px solid rgba(50, 50, 50, 1);
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  border-right: 1px solid rgba(250, 250, 250, 0.2);
  border-left: 1px solid rgba(100, 100, 100, 0.2);
  text-shadow: 0px 1px rgba(100, 50, 50, 1);
}

.fc-comp-container {
  background-color: #000;
  list-style-type: none;
}

ul {
  padding: 0;
  font-family: weathericons;
}

.fc-comp {
  background-color: #171717;
  border: 1px solid #000;
}

i {
  font-size: 35px;
  margin-left: 5px;
  padding: 4px;
}
.wi-day-sunny {
  color: yellow;
}
.wi-day-showers {
  color: blue;
}
.wi-day-storm-showers {
  color: gray;
}
.wi-cloudy {
  color: lightgray;
}
.wi-day-snow {
  color: blue;
}
.box-shadow {
  -webkit-box-shadow: 3px 3px 2px 0px rgba(180, 85, 85, 1);
  -moz-box-shadow: 3px 3px 2px 0px rgba(180, 85, 85, 1);
  box-shadow: 3px 3px 2px 0px rgba(180, 85, 85, 1);
}
